*{
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
body{
    background-color: #fff3ea;
    font-family: 'Poppins', sans-serif;
    height: 3000px;
    overflow-x: hidden;
}
.custom-nav{
    background-color: #fff3ea;
    position: fixed;
    z-index: 999;
    width: 100%;
    color: #353333;
    transition: ease-in 0.3s;
    -webkit-transition: ease-in 0.3s;
    -moz-transition: ease-in 0.3s;
    -ms-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
}

.scroll-nav{
    background-color: #e2979d;
    transition: ease-in 0.3s;
    -webkit-transition: ease-in 0.3s;
    -moz-transition: ease-in 0.3s;
    -ms-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    color: #fff3ea;
    border-color: #fff3ea;
}

.custom-a-nav{
    color:inherit;
    transition: ease-in 0.3s;
    -webkit-transition: ease-in 0.3s;
    -moz-transition: ease-in 0.3s;
    -ms-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
}

.custom-phone-icon-nav{
    color: #13b604;
}
.sec-cover{
    margin-top: 11%;
}
.div-cover{
    height: 100%
}
.row-cover{
    height: 100%;
}
.left-cover{
    margin-top: 80px;
}
.left-cover .content h4{
    opacity: 0.8;
}
.left-cover .content h1
{
    text-transform: capitalize;
    font-family: 'Playfair Display', serif;
    font-size: 100px;
    color: #e2979d;
    margin-top: 0px;
    margin-bottom: 25px;
}
.left-cover .content{
    color: #353333;
    font-family: 'Montserrat', sans-serif;
}
.left-cover .content p {
    line-height: 1.9;
}
.right-cover {
   text-align: center;
}
.cover-image
{
    width: 71%;
    max-width: 500px;
    background-color: #ffebdc;
    border-top-left-radius: 100% 70%;
    border-top-right-radius: 100% 70%;
}
/* ********************************************* */
.slider-one{
    margin-top: 10%;
}
.slider-one-right{
    padding-left: 35px;
}
.slider-one-right h4 {
    font-family: 'Playfair Display', serif;
    color: #e2979d;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.slider-one-right p{
    text-transform: capitalize;
    line-height: 1.8;
    color: #353333;
}
.slider-one-icon .left i ,
.slider-one-icon .right i 
{
    font-size : 30px;
    color : #e2979d
}
.slider-one-icon .right h6 ,
.slider-one-icon .left h6 {
    font-size: 20px;
    display: inline-block;
    padding-top: 0px;
    color: #353333;
}
.slider-one-left .imag-slider-one{
    position: relative;
    top: 0;
}
.slider-one-left .imag-slider-one img
{
    width: 100%;
    border-bottom-left-radius: 50% 50%;
}
.icon-left-on-img{
    position: absolute;
    top: 80%;
    left: 10%;
    font-size: 60px;
    color: #e2979d;
}
/**********************************************************/

.slider-two{
    position: relative;
    top: 6%;
    color: #ffffff;
    position: relative;
    top: 6%;
    background-image: url(../imgs/cover.png) ;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.slider-two-row{
    padding: 5% 0% 5% 0% ;
    
}
.slider-two-row h2 {
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;

}
.slider-two-left{
    border-right: 2px #ffebdc solid;
}
.slider-two-left .tabs li{
    list-style-type: none;
    font-size: 18px;
    text-transform: capitalize;
}
.slider-two-left .tabs li:hover{
    cursor: pointer;
}
.slider-two-right .row {
    height: 100%;
    
}
.slider-two-right-content h4{
    text-transform: uppercase;
    padding: 15px 0px 10px;
}
.slider-two-right-content p{
    line-height: 1.9;
}
.slider-two-right-img img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 30% 25%;
    border-bottom-right-radius: 30% 25%;
}
.content > div:not(:first-child) {
    display: none;
  }
  /* ******************************************/
.slider-three-subscribe{
    position: relative;
    top: 6%;
}
.subscribe-content{
    padding-top: 5%;
   
}
.subscribe-left{
    z-index: 99;
}
.subscribe-left img{
    width:100%;
    max-width: 325px;
}
.subscribe-content-left{
    padding-top: 10%;
}
.top-subscribe .h-one,
.top-subscribe .h-two{
  font-size: 35px;
  font-family: 'Playfair Display',serif;
  color: #e2979d;
  text-transform: capitalize;
}
.top-subscribe .h-two{
    text-align: center;
}
.end-subscribe {
    padding-top: 5%;
    z-index: 99;
}
.group-input input {
    width: 60%;
    height: 45px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border: none;
    margin-right: -45px;
    padding-right: 55px;
    padding-left: 12px;
    outline: none;
}
::-webkit-input-placeholder,
::placeholder,
.group-input button{
    text-transform: capitalize;
    font-size: 18px;
}
.group-input button{
    width: 40%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border: none;
    background-color: #e2979d;
    color: #fff3ea;
    font-size: 20px;
}
.group-input button:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
/* responsive css  */

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
    .left-cover .content h1{
        font-size: 60px;
    }
    .left-cover{
        margin-top: 50px;
    }
    .left-cover .content p {
        
        line-height: 1.7;
    }
    .slider-one-right h4{
        font-size: 20px;
    }
    .slider-one-icon .left i ,
    .slider-one-icon .right i
    {
        font-size: 22px;
    }
    .slider-one-icon .right h6 ,
    .slider-one-icon .left h6 
   {
      font-size: 18px;
   }

}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .left-cover .content h1{
        font-size: 50px;
       
    }
    .left-cover{
        margin-top: 50px;
    }
    .left-cover .content p {
        
        line-height: 1.7;
    }
    .slider-one-right h4{
        font-size: 20px;
    }
    .slider-one-icon .left i ,
    .slider-one-icon .right i
    {
        font-size: 25px;
    }
    .slider-one-icon .right h6 ,
    .slider-one-icon .left h6 
   {
      font-size: 18px;
   }

}
@media only screen and (max-width: 768px) and (min-width: 481px) {
    .left-cover .content h1{
        font-size: 40px;
        
    }
    .left-cover{
        margin-top: 50px;
    }
    .left-cover .content p {
      
        line-height: 1.5;
    }
    .icon-left-on-img{
        font-size: 42px;
    }
}
@media only screen and (max-width: 480px) and (min-width: 300px) {
    .left-cover .content h1{
        font-size: 30px;
       
    }
    .left-cover{
        margin-top: 40px;
    }
    .left-cover .content p {
       
        line-height: 1.5;
    }
    .icon-left-on-img{
        font-size: 35px;
    }
}
@media only screen and (max-width : 991px) and (min-width : 768px) {
    .cover-image {
        width: 80%;
        margin-top: 10% ;
    }
};
@media only screen and (max-width: 768px) and (min-width: 300px){
    .our-team-left,
    .our-team-right{
        text-align: center;
    }
}
/* animation */


  
  
  
  
  