*{
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
body{
    background-color: #fff3ea;
    font-family: 'Poppins', sans-serif;
    height: 2000px;
    overflow-x: hidden;
}
.custom-nav{
    background-color: #fff3ea;
    position: fixed;
    z-index: 999;
    width: 100%;
    color: #353333;
    transition: ease-in 0.3s;
    -webkit-transition: ease-in 0.3s;
    -moz-transition: ease-in 0.3s;
    -ms-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
}
.scroll-nav{
    background-color: #e2979d;
    transition: ease-in 0.3s;
    -webkit-transition: ease-in 0.3s;
    -moz-transition: ease-in 0.3s;
    -ms-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    color: #fff3ea;

}
.custom-a-nav{
    color:inherit;
    transition: ease-in 0.3s;
    -webkit-transition: ease-in 0.3s;
    -moz-transition: ease-in 0.3s;
    -ms-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
}

.custom-phone-icon-nav{
    color: #e2091b;
}
.sec-cover{
    margin-top: 11%;
}
.div-cover{
    height: 100%
}
.row-cover{
    height: 100%;
}
.left-cover{
    margin-top: 80px;
}
.left-cover .content h4{
    opacity: 0.8;
}
.left-cover .content h1
{
    text-transform: capitalize;
    font-family: 'Playfair Display', serif;
    font-size: 100px;
    color: #e2979d;
    margin-top: 0px;
    margin-bottom: 25px;
}
.left-cover .content{
    color: #353333;
    font-family: 'Montserrat', sans-serif;
}
.left-cover .content p {
    line-height: 1.9;
}
.right-cover {
   text-align: center;
}
.cover-image
{
    width: 71%;
    max-width: 500px;
    background-color: #ffebdc;
    border-top-left-radius: 100% 70%;
    border-top-right-radius: 100% 70%;
}
/* ********************************************* */
.slider-one{
    margin-top: 10%;
}
.slider-one-right{
    padding-left: 35px;
}
.slider-one-right h4 {
    font-family: 'Playfair Display', serif;
    color: #e2979d;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.slider-one-right p{
    text-transform: capitalize;
    line-height: 1.8;
    color: #353333;
}
.slider-one-icon .left i ,
.slider-one-icon .right i 
{
    font-size : 30px;
    color : #e2979d
}
.slider-one-icon .right h6 ,
.slider-one-icon .left h6 {
    font-size: 20px;
    display: inline-block;
    padding-top: 0px;
    color: #353333;
}
.slider-one-left .imag-slider-one{
    position: relative;
    top: 0;
}
.slider-one-left .imag-slider-one img
{
    width: 100%;
    border-bottom-left-radius: 50% 50%;
}
.icon-left-on-img{
    position: absolute;
    top: 80%;
    left: 10%;
    font-size: 60px;
    color: #e2979d;
}


/* responsive css  */

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
    .left-cover .content h1{
        font-size: 60px;
    }
    .left-cover{
        margin-top: 50px;
    }
    .left-cover .content p {
        
        line-height: 1.7;
    }
    .slider-one-right h4{
        font-size: 20px;
    }
    .slider-one-icon .left i ,
    .slider-one-icon .right i
    {
        font-size: 22px;
    }
    .slider-one-icon .right h6 ,
    .slider-one-icon .left h6 
   {
      font-size: 18px;
   }

}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .left-cover .content h1{
        font-size: 50px;
       
    }
    .left-cover{
        margin-top: 50px;
    }
    .left-cover .content p {
        
        line-height: 1.7;
    }
    .slider-one-right h4{
        font-size: 20px;
    }
    .slider-one-icon .left i ,
    .slider-one-icon .right i
    {
        font-size: 25px;
    }
    .slider-one-icon .right h6 ,
    .slider-one-icon .left h6 
   {
      font-size: 18px;
   }

}
@media only screen and (max-width: 768px) and (min-width: 481px) {
    .left-cover .content h1{
        font-size: 40px;
        
    }
    .left-cover{
        margin-top: 50px;
    }
    .left-cover .content p {
      
        line-height: 1.5;
    }
    .icon-left-on-img{
        font-size: 42px;
    }
}
@media only screen and (max-width: 480px) and (min-width: 300px) {
    .left-cover .content h1{
        font-size: 30px;
       
    }
    .left-cover{
        margin-top: 40px;
    }
    .left-cover .content p {
       
        line-height: 1.5;
    }
    .icon-left-on-img{
        font-size: 35px;
    }
}
@media only screen and (max-width : 991px) and (min-width : 768px) {
    .cover-image {
        width: 80%;
        margin-top: 10% ;
    }
};

/* animation */


  
  
  
  
  